<template>
    <span>
    <default-field :field="productoField" :errors="errors" :showHelpText="false" :fieldName="productoField.fieldName">
        <template slot="field">
            <search-input
                v-if="isSearchable && !isLocked"
                :data-testid="`$proucto-search-input`"
                @input="performSearch"
                @clear="clearSelection"
                @selected="selectResource"
                :error="hasError"
                :value="selectedResource"
                :data="availableResources"
                trackBy="value"
                searchBy="display"
                class="mb-3"
            >
                <div slot="default" v-if="selectedResource" class="flex items-center">
                    <div v-if="selectedResource.avatar" class="mr-3">
                        <img :src="selectedResource.avatar" class="w-8 h-8 rounded-full block" />
                    </div>

                    {{ selectedResource.display }}
                </div>

                <div slot="option" slot-scope="{ option, selected }" class="flex items-center">
                    <div v-if="option.avatar" class="mr-3">
                        <img :src="option.avatar" class="w-8 h-8 rounded-full block" />
                    </div>

                    {{ option.display }}
                </div>
            </search-input>

            <select-control
                v-if="!isSearchable || isLocked"
                class="form-control form-select mb-3 w-full"
                :class="{ 'border-danger': hasError }"
                :data-testid="`$producto-select`"
                :dusk="field.attribute"
                @change="selectResourceFromSelectControl"
                :disabled="isLocked"
                :options="availableResources"
                :selected="selectedResourceId"
                label="display"
            >
                <option value="" selected :disabled="true">&mdash;</option>
            </select-control>

            <!-- Trashed State -->
            <div v-if="softDeletes && !isLocked">
                <checkbox-with-label
                    :dusk="`$producto-with-trashed-checkbox`"
                    :checked="withTrashed"
                    @change="toggleWithTrashed"
                >
                    {{ __('With Trashed') }}
                </checkbox-with-label>
            </div>
        </template>
    </default-field>
    <default-field :field="field" :errors="errors" :showHelpText="field.showHelpText" :fieldName="field.fieldName">
        <template slot="field">
            <input
                :id="bocas"
                type="text"
                class="w-full form-control form-input form-input-bordered"
                :class="errorClasses"
                :placeholder="Bocas"
                v-model="value"
                v-on:change="cambioBocas()"
            />

        </template>
    </default-field>
    <default-field :field="moldeadas" :errors="errors" :showHelpText="moldeadas.showHelpText" :fieldName="moldeadas.fieldName">
        <template slot="field">
            <input
                :id="moldeadas.name"
                type="text"
                class="w-full form-control form-input form-input-bordered"
                :class="errorClasses"
                :placeholder="Moldeadas"
                v-model="valueMoldeadas"
                v-on:change="cambioBocas()"
            />

        </template>
    </default-field>
    <default-field :field="cantidad" :errors="errors" :showHelpText="cantidad.showHelpText" :fieldName="cantidad.fieldName">
        <template slot="field">
            <input
                :id="cantidad.name"
                type="text"
                class="w-full form-control form-input form-input-bordered"
                :class="errorClasses"
                :placeholder="Cantidad"
                v-model="valueCantidad"
            />

        </template>
    </default-field>
</span>
</template>

<script>
import _ from 'lodash'

import { TogglesTrashed, PerformsSearches, FormField, HandlesValidationErrors } from 'laravel-nova'
import { mixin as clickaway } from 'vue-clickaway'

export default {
    mixins: [TogglesTrashed, PerformsSearches, FormField, HandlesValidationErrors],

    props: ['resourceName', 'resourceId', 'field'],

    data: function(){
        return {
            productoField: {attribute: 'producto', fieldName: 'Producto'},
            producto: {},
            moldeadas: {},
            cantidad: {},
            valueProducto: 0,
            valueCantidad: 0,
            valueMoldeadas: 0,
            value: null,
            availableResources: [],
            initializingWithExistingResource: false,
            selectedResource: null,
            selectedResourceId: null,
            softDeletes: false,
            withTrashed: false,
            search: '',
        }
    },

    mounted() {
        
    },

    methods: {
        initializeComponent() {
            this.withTrashed = false

            // If a user is editing an existing resource with this relation
            // we'll have a belongsToId on the field, and we should prefill
            // that resource in this field
            if (this.editingExistingResource) {
                this.initializingWithExistingResource = true
                this.selectedResourceId = this.producto
            }

            
            if (this.shouldSelectInitialResource && !this.isSearchable) {
                // If we should select the initial resource but the field is not
                // searchable we should load all of the available resources into the
                // field first and select the initial option
                this.initializingWithExistingResource = false
                this.getAvailableResources().then(() => this.selectInitialResource())
            } else if (this.shouldSelectInitialResource && this.isSearchable) {
                // If we should select the initial resource and the field is
                // searchable, we won't load all the resources but we will select
                // the initial option
                this.getAvailableResources().then(() => this.selectInitialResource())
            } else if (!this.shouldSelectInitialResource && !this.isSearchable) {
                // If we don't need to select an initial resource because the user
                // came to create a resource directly and there's no parent resource,
                // and the field is searchable we'll just load all of the resources
                this.getAvailableResources()
            }

            this.determineIfSoftDeletes()

            //this.field.fill = this.fill
        },

        /**
         * Select a resource using the <select> control
         */
        selectResourceFromSelectControl(e) {
            this.selectedResourceId = e.target.value
            this.valueProducto = e.target.value;
            this.selectInitialResource()
        },
        /**
         * Get the resources that may be related to this resource.
         */
        getAvailableResources() {
            return this.storageFetchAvailableResources('producto', 'descripcion', this.queryParams)
                .then(({ data: { resources, softDeletes, withTrashed } }) => {
                    if (this.initializingWithExistingResource || !this.isSearchable) {
                        this.withTrashed = withTrashed
                    }

                    // Turn off initializing the existing resource after the first time
                    this.initializingWithExistingResource = false
                    this.availableResources = resources
                    this.softDeletes = softDeletes
                })
        },

        /**
         * Determine if the relatd resource is soft deleting.
         */
        determineIfSoftDeletes() {
            return false; /*this.storageDetermineIfSoftDeletes('producto').then(response => {
                this.softDeletes = response.data.softDeletes
            })*/
        },

        storageFetchAvailableResources(resourceName, fieldAttribute, params) {
        return Nova.request().get(
            `/nova-api/produccion-lineas/associatable/producto`,
            params
        )
        },

        storageDetermineIfSoftDeletes(resourceName) {
            return false;// Nova.request().get(`/nova-api/${resourceName}/soft-deletes`)
        },
        /**
         * Determine if the given value is numeric.
         */
        isNumeric(value) {
            return !isNaN(parseFloat(value)) && isFinite(value)
        },

        /**
         * Select the initial selected resource
         */
        selectInitialResource() {
            console.log(this.selectedResourceId);
            this.selectedResource = _.find(
                this.availableResources,
                r => r.value == this.selectedResourceId
            )
        },

        /**
         * Toggle the trashed state of the search
         */
        toggleWithTrashed() {
            this.withTrashed = !this.withTrashed

            // Reload the data if the component doesn't support searching
            if (!this.isSearchable) {
                this.getAvailableResources()
            }
        },

        //desde acá bocas moldeadas cantidad
        cambioBocas(){
            console.log('cambioBocas');
            console.log(this.valueCantidad);
            if(this.valueCantidad == null || this.valueCantidad == '' || this.valueCantidad == 0){
                this.valueCantidad = this.value * this.valueMoldeadas;
            }
        },
        /*
         * Set the initial, internal value for the field.
         */
        setInitialValue() {
            console.log('bocas: '+this.field.bocas);
            this.value = this.field.bocas || 0

            this.field.attribute = 'bocas';
            this.field.fieldName = 'Bocas';
            this.field.showHelpText = false;
            
            this.producto = this.field.producto;
            this.valueProducto = this.field.producto;
            
            this.moldeadas = Object.assign({},this.field);
            this.cantidad =  Object.assign({},this.field);

            this.moldeadas.attribute = 'moldeadas';
            this.moldeadas.fieldName = 'Moldeadas';

            this.cantidad.attribute = 'cantidad';
            this.cantidad.fieldName = 'Cantidad';
            
            this.moldeadas.value = this.moldeadas.moldeadas;
            this.cantidad.value = this.cantidad.cantidad;

            this.valueMoldeadas = this.moldeadas.value;
            this.valueCantidad = this.cantidad.value;

            
            this.initializeComponent()

        },

        /**
         * Fill the given FormData object with the field's internal value.
         */
        fill(formData) {
            formData.append('bocas', this.value || '');
            formData.append('moldeadas', this.valueMoldeadas || '');
            formData.append('cantidad', this.valueCantidad || '');
            formData.append('producto', this.selectedResource.value || '');
            formData.append('producto_trashed', false);
            
        },

        /**
         * Update the field's internal value.
         */
        handleChange(value) {
            console.log('actu');
            this.value = value
        },
    },
    computed: {
        /**
         * Determine if we are editing and existing resource
         */
        editingExistingResource() {
            return Boolean(this.resourceId)
        },

        /**
         * Determine if we are creating a new resource via a parent relation
         */
        creatingViaRelatedResource() {
            return false;
        },

        /**
         * Determine if we should select an initial resource when mounting this field
         */
        shouldSelectInitialResource() {
            return Boolean(this.editingExistingResource || this.creatingViaRelatedResource)
        },

        /**
         * Determine if the related resources is searchable
         */
        isSearchable() {
            return true;
        },

        /**
         * Get the query params for getting available resources
         */
        queryParams() {
            return {
                params: {
                    current: this.selectedResourceId,
                    first: this.initializingWithExistingResource,
                    search: this.search,
                    withTrashed: this.withTrashed,
                },
            }
        },

        isLocked() {
            return false; //this.viaResource == this.producto.resourceName && this.producto.reverse
        },
    },
    watch: {
        selectedResource: function (val) {
            var self = this;
            if(val != ''){
                Nova.request().get(
                    `/nova-api/productos/`+val.value,
                    []
                ).then((data) => {
                    if(!self.editingExistingResource ){
                        self.value = data.data.resource.fields.filter(function(f){return f.attribute == 'bocas'})[0].value;
                        self.cambioBocas();
                    }
                });
            }
            
        },
      }
}
</script>
